<!DOCTYPE html>
<html>
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MMB Cafeteria</title>
    <link runat="server" rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="favicon.ico" type="image/ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    <img src="~/Images/logo.png" alt="Dispute Bills">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <div class="black-line-underline-left">
                    <ul class="nav navbar-nav navbar-left">
                        <li>@Html.ActionLink("Menu", "Index", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    <div class="black-line"></div>
                    <div class="green-line"></div>
                </div>
                <div class="black-line-underline-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Order Status", "OrderStatus", "Home")</li>
                        <li>@Html.ActionLink("Cart", "Cart", "Home")</li>
                    </ul>
                    <div class="black-line"></div>
                    <div class="green-line"></div>
                    @*@Html.Partial("_LoginParti</div>al")*@
                </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <h4>Hours of Operation</h4>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
