@model BatemanCafeteria.ViewModels.AddToCartViewModel

<div class="modal-body">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="img-area">
                    <img src="@Model.MenuItem.ImgLocation" alt="@Model.MenuItem.Title" />
                </div>
            </div>
            <div class="form-group col-md-6">
                <h4>@Model.MenuItem.Title</h4>
                <p>@Model.MenuItem.Description</p>
                <div>
                    @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-7" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    @Html.LabelFor(model => model.MenuItem.Calories, htmlAttributes: new { @class = "control-label col-md-7" })
                    <div class="col-md-5">@Model.MenuItem.Calories</div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.SpecialInstructions, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.SpecialInstructions, new { maxlength = "250", placeholder = "Enter any special instructions (250 char max)..", htmlAttributes = new { @class = "form-control" }})
                    @Html.ValidationMessageFor(model => model.SpecialInstructions, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" id="approve-btn" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
    </div>
<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
